.env
__pycache__
__pycache
/data_stream
.pyc
*.log
.py.log
config/airflow.cfg
airflow-webserver.pid
*.cfg
*.key
*.pem
*.fernet
secrets/
.env
*.env
airflow/fernet_key.txt
airflow/secrets/*
!airflow/secrets/.gitkeep
airflow/logs/
airflow/plugins/
airflow/dags/__pycache__/
airflow/dags/*.pyc
airflow/airflow.db
airflow/webserver_config.py
/movie_genre_classifier