--extra-index-url https://download.pytorch.org/whl/cpu

aiohttp
apache-airflow==3.0.1
kafka-python==2.0.2
matplotlib==3.7.5
numpy==1.26.4
optuna==4.0.0
pandas==2.3.0
pymongo==4.13.0
python-dotenv==1.1.0
requests==2.32.3
scikit_learn==1.7.0
seaborn==0.13.2
streamlit==1.45.1
tqdm==4.67.1
transformers==4.47.0
torch==2.4.0+cpu
torchvision==0.19.0+cpu
